.toolbar {
    height: auto;
    display: flex;
    align-items: center;
    background-color: #a2b1bf;
    color: white;
    font-weight: 600;
  }
  .button{
    color: blue;
    background-color:#a2b1bf ;
  }
  
