<div class="main-div">
    <mat-card class="z-depth center card-background-color">
        <mat-card-title>Employee Details</mat-card-title>
        <mat-card-subtitle>Enter employee details</mat-card-subtitle>
        <mat-card-content>
            <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
                <mat-grid-list cols="2" rowHeight="90px">
                    <mat-grid-tile>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="First Name" [formControl]="firstnameControl" name="firstName"
                                ngModel>
                            <mat-error *ngIf="firstnameControl.hasError('required')">
                                First Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Middle Name">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Last Name" [formControl]="lastnameControl">
                            <mat-error *ngIf="lastnameControl.hasError('required')">
                                Last Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile></mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Permanent address"></textarea>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Present address"></textarea>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="City" [formControl]="cityControl">
                            <mat-error *ngIf="cityControl.hasError('required')">
                                City is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="State" [formControl]="stateControl">
                            <mat-error *ngIf="stateControl.hasError('required')">
                                State is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Country" [formControl]="countryControl">
                            <mat-error *ngIf="countryControl.hasError('required')">
                                Country is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Pincode" [formControl]="pinControl">
                            <mat-error *ngIf="pinControl.hasError('required')">
                                Pincode is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" [formControl]="emailFormControl">
                            <mat-error
                                *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Mobile Number" [formControl]="phoneControl">
                            <mat-error *ngIf="phoneControl.hasError('required')">
                                Mobile Number is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button type="submit">Submit</button>
            <button mat-raised-button>Cancel </button>
        </mat-card-actions>
    </mat-card>
</div>