.example-form {
    width: 50%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .center{
    width: 50%;
    margin: 10px auto;
  }
  
  .main-div{
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  